<!-- Main Content Area -->
<div class="pt-8 pl-2 pr-2 w-auto">
	<h1 class="text-xl font-bold text-center mb-6 font-[Handel_Gothic] tracking-[0.3em] border-t-1 border-b-1 border-white bg-gradient-to-r from-black via-blue-900 to-black">Private News</h1>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4">News</p>
		<p class="mb-4 pl-4 pr-4">As you may have guessed already, on this page you will be able to find out what the cause was of the suddenly highlighted newsbutton. All important new information regarding your planet can be found here. The icon in front of the news refers to the kind of news (see below for more details), with the message giving you a clear view of what happened.</p>
		<p class="pl-4 pr-4">Legend</p>
		<div class="pl-4 pr-4 grid grid-cols-9 grid-rows-2 gap-2">
			<div><img class="mx-auto" src="{{ asset('images/icon_military.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_donation.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_science.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_construction.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_wave.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_military.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_frincoming.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_incoming.gif') }}" /></div>
			<div><img class="mx-auto" src="{{ asset('images/icon_recall.gif') }}" /></div>			
			<div>Combat</div>
			<div>Donation</div>
			<div>Science</div>
			<div>Building</div>
			<div>Waves</div>
			<div>Launch</div>
			<div>Friends</div>
			<div>Hostiles</div>
			<div>Recall</div>
		</div>
		<button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-xs text-[11px] me-2 mb-8 border-1 border-white px-1 py-1">Hide All News</button>
	</div>
</div>