{% extends 'base.html.twig' %}

{% block body %}

<body class="text-[#ADC1E2] overflow-hidden">
	<div class="flex h-screen">
		{{ include('common/_menu.html.twig') }}
		<div class="w-[650px] flex-initial overflow-y-auto">
			{{ include('common/_header.html.twig') }}
			{% if page == "overview" %}
				{{ include('gamepages/_overview.html.twig') }}
			{% elseif page == "news" %}
   				{{ include('gamepages/_news.html.twig') }}
			{% elseif page == "galaxynews" %}
   				{{ include('gamepages/_galaxynews.html.twig') }}
			{% elseif page == "communication" %}
   				{{ include('gamepages/_communication.html.twig') }}
			{% elseif page == "journal" %}
   				{{ include('gamepages/_journal.html.twig') }}
			{% elseif page == "politics" %}
   				{{ include('gamepages/_politics.html.twig') }}
			{% elseif page == "irc" %}
   				{{ include('gamepages/_irc.html.twig') }}
			{% elseif page == "research" %}
   				{{ include('gamepages/_research.html.twig') }}
			{% else %}
   				{{ include('gamepages/_overview.html.twig') }}
			{% endif %}
		</div>	
	</div>
</body>

{% endblock %}